body {
    background-color: rgb(26, 26, 29);
    color: white;
    font-family: Tahoma
}

#back {
    background-color: black;
    color: rgb(19, 66, 142);
    position: absolute;
    left: 0;
    top: 0
}

h1 {
    text-align: center
}

#mainButton {
    background-color: greenyellow;
    color: black;
    font-size: 70px;
    user-select: none;
    width: 450px;
    height: 450px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 100px;
    display: flex;
    justify-content: center;
    align-items: center
}

.score {
    position: absolute;
    height: 100px;
    bottom: 25px
}

h4 {
    user-select: none;
    font-size: 55px;
    display: inline-block;
    margin: 0
}

#total {
    position: relative;
    left: 5px;
}

.rect {
    background-color: rgb(53, 57, 64);
    width: 350px;
    height: 90%;
    position: absolute;
    right: 0;
    bottom: 0;
    display: grid
}


h3 {
    font-size: 35px;
    position: absolute;
    right: 175px;
    top: 15px;
    transform: translateX(+50%);
    margin: 0
}

@media (min-width: 1200px) {
    #back {
        font-size: 40px
    }
}

@media (max-width: 1199px) {
    #back {
        font-size: 60px
    }
}